<h1>Sender Messages SQS Queue</h1>

<form method="post">
	<label>Asunto</label>
	<input type="text" name="asunto" class="form-control"/>

	<label>Email</label>
	<input type="text" name="email" class="form-control" />

	<label>Contenido</label>
	<input type="text" name="contenido" class="form-control" />

	<label>Fecha</label>
	<input type="text" name="fecha" class="form-control" />

	<button class="btn btn-primary">Send Message</button>
</form>

<h2>@ViewData["MENSAJE"]</h2>